nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  div {
    display: flex;
    align-items: center;
    img {
      width: 4rem;
      height: 100%;
    }
    h1 {
      font-size: $font-regular;
      color: $color-titulos;
      font-family: $font-principal;
      @include breakpoint(md) {
        font-size: 1.2em;
      }
    }
  }
}
