$color-titulos: #a55631;
$color-secundarios: #73252f;
$color-terciario: #d1693a;
$color-cuarto: #e3961b;
$font-principal: "Lora";
$font-secundario: "Sedan";
$font-xl: 2.5em;
$font-mediano: 1.5em;
$font-regular: 1em;
$font-pequeno: 0.8em;
$color-boton: #a04d45;
$color-hover-boton: #da9089;
