.boton {
  border: none;
  background-color: $color-cuarto;
  padding: 5px;
  font-family: $font-secundario;
  border-radius: 10px;
  color: white;
  font-size: $font-pequeno;
  cursor: pointer;
  @include breakpoint(md) {
    font-size: $font-regular;
  }
  &:hover {
    background-color: $color-hover-boton;
  }
}
