.contenedor-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block: 30px;
  .card {
    width: 20rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5e9c5;
    gap: 20px;

    padding: 15px;
    border-width: 20px; /* Ancho del borde */
    border-image-source: url("imagenes/fondo6.avif"); /* Ruta de la imagen del borde */
    border-image-slice: 20; /* Cantidad de la imagen que se usará para el borde */
    border-image-repeat: round;
    box-shadow: 8px 5px 9px rgba(1, 5, 0, 0.2);
    .nombre {
      font-size: $font-mediano;
      color: $color-titulos;
    }
    .contenedor-imagen {
      img {
        width: 10rem;
        height: 10rem;
        object-fit: contain;
      }
    }
    h3 {
      font-size: $font-regular;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color-secundarios;
    }
    .datos {
      display: flex;
      gap: 20px;
      p {
        background-color: $color-boton;
        padding: 2px 3px;
        color: white;
        border-radius: 5px;
        font-size: $font-pequeno;
        text-align: center;
      }
    }
    .contenedor-card-botones {
      display: flex;
      gap: 20px;
      .boton-info {
        border: none;
        background-color: $color-cuarto;
        padding: 2px 4px;
        font-family: $font-secundario;
        border-radius: 10px;
        color: white;
        font-size: 0.9rem;
        &:hover {
          background-color: $color-hover-boton;
        }
      }
    }
  }
}
