.editar {
  display: flex;
  margin: 0 auto;
  display: none;
  form {
    @include card-base;
    border-image-source: url("imagenes/fondo4.webp");

    h2 {
      text-align: center;
      color: $color-titulos;
      font-size: $font-mediano;
    }
    label {
      color: $color-secundarios;
      font-size: $font-regular;
    }
    input {
      border: none;
      padding: 3px 5px;
      background-color: $color-hover-boton;
    }
    select {
      background-color: $color-hover-boton;
    }
  }

  .editar-botones {
    display: flex;
    gap: 20px;
    margin: 0 auto;
  }
}
