.form-header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 10px;
  padding-block: 10px;
  background-color: #fff4ed;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    select {
      border: none;
      background-color: $color-hover-boton;
      @include breakpoint(md) {
        width: 13rem;
        height: 1.5rem;
      }
    }
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

#spinnerContenedor {
  height: 100%;
  display: flex;
  margin: 0 auto;
  display: none;
  img {
    width: 150px;
  }
}
