.contenedor-modal {
  display: none;
  .modal {
    display: flex;
    flex-direction: column;
    margin-block: 30px;
    .modal-info-card {
      @include card-base;
      border-image-source: url("./imagenes/fondo4.webp");
      align-items: center;
      justify-content: center;
      .modal__header {
        cursor: pointer;
      }
      .modal-nombre {
        font-size: $font-mediano;
        color: $color-titulos;
      }

      .modal-contenedor-imagen {
        img {
          width: 10rem;
          height: 10rem;
          object-fit: contain;
        }
      }
      h3 {
        font-size: $font-regular;
        width: 250px;
        text-align: center;
        color: $color-secundarios;
      }
      .modal-datos {
        display: flex;
        gap: 20px;
        p {
          background-color: $color-boton;
          padding: 2px 3px;
          color: white;
          border-radius: 5px;
          font-size: $font-pequeno;
          text-align: center;
        }
      }
      .contenedor-modal-botones {
        display: flex;
        gap: 20px;
      }
    }
  }
}
