.contenedor-modal-eliminar {
  display: none;
  .modal-eliminar-perfil {
    @include card-base;
    border-image-source: url("./imagenes/fondo4.webp");

    p {
      color: $color-secundarios;
      font-weight: 800;
      font-size: $font-regular;
      text-align: center;
    }
    .contenedor-botones-eliminar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .boton {
        border: none;

        background-color: $color-cuarto;
        padding: 2px 4px;
        font-family: $font-secundario;
        border-radius: 10px;
        color: white;
        font-size: 0.9rem;
        &:hover {
          background-color: $color-hover-boton;
        }
      }
      .eliminar {
        background-color: rgb(126, 58, 58);
      }
    }
  }
}
